.header {
  height: 30px;
  background: #2AADE5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  .page-transition {
    float: left;
    width: calc(100vw - 270px);
    &__title,
    &__my-page {
      line-height: 30px;
      text-decoration: none;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
      &:visited, &:link {
        color: inherit;
      }
    }
    &__title {
      float: left;
      font-size: 24px;
      font-weight: bold;
      padding-left: 5px;
    }
    &__current-user-name {
      float: left;
      font-size: 14px;
      padding-left: 5px;
      position: absolute;
      top: 8px;
      left: 120px;
    }
    &__my-page {
      float: right;
      font-size: 18px;
      font-weight: bold;
      padding-right: 10px;
    }
  }
}
